<form action="{{ path('inscription_certif_delete', {'id': inscriptionCertif.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette inscription ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscriptionCertif.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
