<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Inscription Certification</title>
</head>
<body>
    <h1>{{ inscriptionCertif.user.nom }}</h1>
    <p>Certification: {{ inscriptionCertif.certification.nomCertif }}</p>
    <!-- Ajoutez plus de détails ici -->
</body>
</html>
